table {
    border: 1px solid;
    border-color: #90268F;
    width: 800px;
    border-spacing:0px;
}

tr {
    border: 0;
}

td {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    border: 0;
    font-size: 20px;
}

th {
    padding-left: 10px;
    background-color: #90268F;
    font-family: 'Oswald', sans-serif;
}

h2 {
    color: white;
}

.button {
    text-align: right;
}

.min {
    max-width:30px;
}

.obenlinks {
    text-align: left;
}
.obenrechts {
    text-align: right;
    align: right;
    padding-right: 10px;
}

a {
    color: #90268F;
    text-decoration: none;
}

.weiss {
    color: white;
}

.button_auswahl {
    background-color: #90268F;
    color: white;
    height: 100px;
    width: 244px;
    font-size: 26px;
}

.ohnerahmen {
    border: 0;
}